<div class="addthis_toolbox addthis_default_style addthis_32x32_style" {% if article.url %} addthis:url={{shop.url}}{{article.url}} addthis:title={{article.title}} {% endif %} >
<a class="addthis_button_facebook_like"></a>
</div>
<script class="trustecm_done" trackertype="required" type="text/javascript">
var addthis_product = 'sfy-2.0.2';
var addthis_plugin_info = {"info_status":"enabled","cms_name":"Shopify","cms_version":null,"plugin_name":"AddThis Sharing Tool","plugin_version":"2.0.2","plugin_mode":"AddThis"};
var addthis_config     = {/*AddThisShopify_config_begins*/pubid:'social_media', button_style:'style6', services_compact:'', ui_delay:0, ui_click:false, ui_language:'', data_track_clickback:true, data_ga_tracker:'', custom_services:'facebook_like', custom_services_size:true/*AddThisShopify_config_ends*/};
</script>
<script class="trustecm_done" trackertype="advertising" src="//s7.addthis.com/js/300/addthis_widget.js#pubid_social_media" type="text/javascript"></script>