
{% if section.settings.blog_show_date %}
  <p class="featured-blog__meta txt--minor">
    <time datetime="{{ article.published_at | date: "%a, %b %d, %y" }}">{{ article.published_at | date: "%a, %b %d, %Y" }}</time>
  </p>
{% endif %}


<h2 class="h3"><a href="{{ article.url }}">{{ article.title }}</a></h2>

{% comment %}
{% if section.settings.blog_show_excerpt %}
  <div class="rte rte--indented-images">
    {{ article.excerpt_or_content | strip_html | truncatewords: 30 }}
  </div>
{% endif %}
<p class="read-more"><a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }} &rarr;</a></p>
{% endcomment %}