<link rel='stylesheet' href='https://revsliderapp.com/public/assets/css/settings.css' type='text/css' media='all'>
                                                        <link rel='stylesheet' href='https://revsliderapp.com/public/assets/fonts/font-awesome/css/font-awesome.css' type='text/css' media='all'>
                                                        <link rel='stylesheet' href='https://revsliderapp.com/public/assets/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css' type='text/css' media='all'>
                                                        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C700%2C600%2C800&#038;ver=4.7.3' type='text/css' media='all'>
  <link rel='stylesheet' href='https://revsliderapp.com/public/assets/css/settings.css' type='text/css' media='all'><script type='text/javascript' ></script><script type="text/javascript">function setREVStartSize(e){									
						try{ e.c=jQuery(e.c);var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
							if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})					
						}catch(d){console.log("Failure at Presize of Slider:"+d)}						
					};</script>

<div id="rev_slider_1933_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER  auto mode -->
	<div id="rev_slider_1933_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="">
<ul>	<!-- SLIDE  -->
	<li data-index="rs-5529" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-link="https://betancourtnutrition.com/blogs/news/which-b-nox-are-you"  data-target="_blank"  data-delay="9000"  data-rotate="0"  data-saveperformance="off"  data-title="SCARY DEALS" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://cdn.shopify.com/s/files/1/0240/9369/t/6/assets/00_-_BG.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-5529-layer-8" 
			 data-x="479" 
			 data-y="310" 
						data-width="['none','none','none','none']"
			data-height="['none','none','none','none']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":10,"speed":1500,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":0,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 5;"><img src="https://cdn.shopify.com/s/files/1/0240/9369/t/6/assets/WHICH_B.png" alt="" data-ww="286px" data-hh="519px" data-no-retina> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-5529-layer-4" 
			 data-x="810" 
			 data-y="443" 
						data-width="['none','none','none','none']"
			data-height="['none','none','none','none']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":10,"speed":2000,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":0,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 6;"><img src="https://cdn.shopify.com/s/files/1/0240/9369/t/6/assets/CTA.png" alt="" data-ww="334px" data-hh="68px" data-no-retina> </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-5529-layer-5" 
			 data-x="666" 
			 data-y="203" 
						data-width="['none','none','none','none']"
			data-height="['none','none','none','none']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":10,"speed":600,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":0,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 7;">
<div class="rs-looped rs-wave"  data-speed="7" data-angle="0" data-radius="7px" data-origin="50% 50%"><img src="https://cdn.shopify.com/s/files/1/0240/9369/t/6/assets/06_-_ANDRORUSH.png" alt="" data-ww="278px" data-hh="281px" data-no-retina> </div></div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-5529-layer-6" 
			 data-x="499" 
			 data-y="30" 
						data-width="['none','none','none','none']"
			data-height="['none','none','none','none']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":10,"speed":700,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":0,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 8;">
<div class="rs-looped rs-wave"  data-speed="6" data-angle="0" data-radius="7px" data-origin="50% 50%"><img src="https://cdn.shopify.com/s/files/1/0240/9369/t/6/assets/07_-_RELOADED.png" alt="" data-ww="307px" data-hh="352px" data-no-retina> </div></div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-5529-layer-7" 
			 data-x="269" 
			 data-y="121" 
						data-width="['none','none','none','none']"
			data-height="['none','none','none','none']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":10,"speed":800,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:1.1;sY:1.1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":0,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 9;">
<div class="rs-looped rs-wave"  data-speed="5" data-angle="0" data-radius="7px" data-origin="50% 50%"><img src="https://cdn.shopify.com/s/files/1/0240/9369/t/6/assets/08_-_RIPPED.png" alt="" data-ww="306px" data-hh="347px" data-no-retina> </div></div>
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-6366" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-link="https://www.vitaminshoppe.com/p/b-nox-ripped-tropical-paradise-287-g-10-1-oz-powder/u3-1128"  data-target="_blank"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://cdn.shopify.com/s/files/1/0240/9369/t/6/assets/BAN_-_CTA.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-6367" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-link="https://www.vitaminshoppe.com/p/b-nox-reloaded-bubble-guns-14-1-oz-powder/u3-1131"  data-target="_blank"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://cdn.shopify.com/s/files/1/0240/9369/t/6/assets/BAN_-_CTA2.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
				if(htmlDiv) {
					htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
				}else{
					var htmlDiv = document.createElement("div");
					htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
					document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
				}
			</script>
 
                <script type="text/javascript"> 
                      
                    function revslider_showDoubleJqueryError(sliderID) {
				var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
				errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
				
				errorMessage += "<br>&nbsp;&nbsp;&nbsp; 1. Find the double jquery.js include and remove it.";
                                
				errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
					jQuery(sliderID).show().html(errorMessage);
			}
                        
                       document.addEventListener("DOMContentLoaded", function(event) { 
                        
                    
						if (setREVStartSize!==undefined) setREVStartSize(
	{c: '#rev_slider_1933_1', gridwidth: [1240], gridheight: [868], sliderLayout: 'auto'});

			
						var tpj=jQuery;
                        
			 
			                                  //  tpj.noConflict();
                                        
			window.revapi1933;
			tpj(document).ready(function() {
				if(tpj("#rev_slider_1933_1").revolution == undefined){
					revslider_showDoubleJqueryError("#rev_slider_1933_1");
				}else{
					revapi1933 = tpj("#rev_slider_1933_1").show().revolution({
						sliderType:"standard",
 data_rev:"fae16eec6bf080c15707d730bb2fc3c5", data_slider_id:"rev_slider_1933_1",jsFileLocation:"//revsliderapp.com/public/assets/js/",
						sliderLayout:"auto",
						dottedOverlay:"none",
						delay:9000,
			navigation: {
				onHoverStop:"off",
			},
						visibilityLevels:[1240,1024,778,480],
						gridwidth:1240,
						gridheight:868,
						lazyType:"none",
						shadow:0,
						spinner:"spinner0",
						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,
						shuffle:"off",
						autoHeight:"off",
						disableProgressBar:"on",
						hideThumbsOnMobile:"off",
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						debugMode:false,
						fallbacks: {
							simplifyAll:"off",
							nextSlideOnWindowFocus:"off",
							disableFocusListener:false,
						}
					});
				}
			});	/*ready*/
 
                                 
                                 });
                                 
		</script>
               
		</div><!-- END REVOLUTION SLIDER --><script type='text/javascript'></script>