{%- assign blog = blogs[section.settings.blog] -%}

<div class="blog-slider-outer-div-header-title">{{ section.settings.title }}</div>

<div class="container blog-slider-section">
  <div class="row">

    <div class="col-md-12">
      <div id="testimonial-slider1" class="owl-carousel1">
        {% for article in blog.articles  %}
        <div class="testimonial-item1 equal-height style-6" style="height: auto;">
          <div class="testimonial-image1 cell-left1">
            <a href="{{ article.url }}">  <img src="{{ article.image | img_url: 'master' }}" alt="Agnes A. Bell"></a>
            {% if article.tags != blank %}
            <div class="blog-slider_type_div_outer"><button class="blog-slider_type_div"> {% for tag in article.tags limit:1 %}
              {{ tag }} 
              {% endfor %}</button></div>
            {% endif %}
          </div>
          <div class="cell-right1">
            <div class="testimonial-name1">

              <time datetime="{{ article.published_at | date: "%a, %b %d, %y" }}">{{ article.published_at | date: "%a, %b %d, %Y" }}</time>
              

            </div>
            <div class="testimonial-job">
              <h2 class="h3"><a href="{{ article.url }}">{{ article.title | truncatewords: 10, "..." }}</a></h2>
            </div>
          </div>

        </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>


<style>
  .blog-slider-section .owl-carousel1 .owl-item img {
    display: block;
    width: 100%;
    border: 5px solid #fff;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .blog-slider-section .testimonial-item1.equal-height.style-6 {
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
  }
  .blog-slider-section .cell-right1 {

    text-align: -webkit-left;
    padding-left: 10px;
    padding-top: 35px;
    padding-bottom: 20px;
  }
  .blog-slider-section .testimonial-name1 {
    font-weight: 600;
  }
  .blog-slider-section .testimonial-content1.quote {
    padding: 17px 55px;
  }
  .blog-slider-section .et_right_sidebar #main-content .container:before{
    display: none;
  }
  .blog-slider-section #main-content .container {
    padding-top: 10px;
  }
  .blog-slider-section i.fa.fa-quote-left {
    padding: 0px 10px;
    color: #999;
  }
  .blog-slider-section .featured-blog__meta.txt--minor {
    text-transform: uppercase;
  }
 .blog-slider_type_div {
    background-color: red;
    color: white;
    border: none;
    padding-left: 10px;
   	position: absolute;
    bottom: 5%;
    left: 5%;
    
}
 .blog-slider_type_div_outer {
    padding-left: 10px;
}

</style>
<script>
  $(document).ready(function(){
    $("#testimonial-slider1").owlCarousel({
      items:3,
      itemsDesktop:[1000,2],
      itemsDesktopSmall:[980,1],
      itemsTablet:[768,1],
      pagination:true,
      navigation:false,
      navigationText:["",""],
      autoPlay:false
    });
  });

</script>


{% schema %}
{
"name": {
"de": "Blogposts",
"en": "Blog posts",
"es": "Entradas del blog",
"fr": "Articles de blog",
"it": "Articoli del blog",
"ja": "ブログ記事",
"nl": "Blogberichten",
"pt-BR": "Posts do blog",
"zh-CN": "博客文章",
"zh-TW": "部落格文章"
},
"settings": [
{
"type": "html",
"id": "title",
"label": {
"de": "Titel",
"en": "Heading",
"es": "Título",
"fr": "Titre",
"it": "Heading",
"ja": "見出し",
"nl": "Kop",
"pt-BR": "Título",
"zh-CN": "标题",
"zh-TW": "標題"
},
"default": {
"de": "Blog slider",
"en": "Blog slider",
"es": "Blog slider",
"fr": "Blog slider",
"it": "Blog slider",
"ja": "ブログ",
"nl": "Blog slider",
"pt-BR": "Blog slider",
"zh-CN": "博客",
"zh-TW": "部落格"
}
},
{
"id": "blog",
"type": "blog",
"label": {
"de": "Blog slider",
"en": "Blog slider",
"es": "Blog slider",
"fr": "Blog slider",
"it": "Blog slider",
"ja": "ブログ",
"nl": "Blog slider",
"pt-BR": "Blog slider",
"zh-CN": "博客",
"zh-TW": "部落格"
}
},
{
"type": "range",
"id": "post_limit",
"label": {
"de": "Posts",
"en": "Posts",
"es": "publicaciones",
"fr": "Articles",
"it": "Articoli",
"ja": "投稿",
"nl": "Berichten",
"pt-BR": "posts",
"zh-CN": "文章",
"zh-TW": "貼文"
},
"min": 1,
"max": 3,
"step": 1,
"default": 3
},
{
"type": "checkbox",
"id": "blog_show_date",
"label": {
"de": "Datum anzeigen",
"en": "Show date",
"es": "Mostrar fecha",
"fr": "Afficher la date",
"it": "Mostra data",
"ja": "日付を表示する",
"nl": "Datum weergeven",
"pt-BR": "Exibir data",
"zh-CN": "显示日期",
"zh-TW": "顯示日期"
},
"default": true
},
{
"type": "checkbox",
"id": "blog_show_author",
"label": {
"de": "Verfasser anzeigen",
"en": "Show author",
"es": "Mostrar autor",
"fr": "Afficher l'auteur",
"it": "Mostra autore",
"ja": "執筆者を表示する",
"nl": "Auteur weergeven",
"pt-BR": "Exibir autor(a)",
"zh-CN": "显示作者",
"zh-TW": "顯示作者"
},
"default": false
},
{
"type": "checkbox",
"id": "blog_show_image",
"label": {
"de": "Titelbild anzeigen",
"en": "Show cover image",
"es": "Mostrar imagen de portada",
"fr": "Afficher l'image de couverture",
"it": "Mostra immagine di copertina",
"ja": "表紙画像を表示する",
"nl": "Coverafbeelding weergeven",
"pt-BR": "Exibir imagem da capa",
"zh-CN": "显示封面图片",
"zh-TW": "顯示封面圖片"
},
"default": false
},
{
"type": "checkbox",
"id": "blog_show_excerpt",
"label": {
"de": "Auszug anzeigen",
"en": "Show excerpt",
"es": "Mostrar extracto",
"fr": "Afficher l'extrait",
"it": "Mostra riassunto",
"ja": "抜粋を表示する",
"nl": "Uittreksel weergeven",
"pt-BR": "Exibir resumo",
"zh-CN": "显示摘录",
"zh-TW": "顯示摘要"
},
"default": true
},
{
"type": "checkbox",
"id": "show_view_all",
"label": {
"de": "Schaltfläche \"Alle anzeigen\" anzeigen",
"en": "Show 'View all' button",
"es": "Mostrar el botón 'Ver todo'",
"fr": "Afficher le bouton « Tout afficher »",
"it": "Mostra il pulsante \"Visualizza tutto\"",
"ja": "「すべて表示」ボタンを表示する",
"nl": "Knop 'Alles weergeven' weergeven",
"pt-BR": "Exibir botão 'Visualizar tudo'",
"zh-CN": "显示“查看全部”按钮",
"zh-TW": "顯示「檢視全部」按鈕"
},
"default": false
}
],
"presets": [
{
"name": {
"de": "Blogposts",
"en": "Blog slider",
"es": "Entradas del blog",
"fr": "Articles de blog",
"it": "Articoli del blog",
"ja": "ブログ記事",
"nl": "Blogberichten",
"pt-BR": "Posts do blog",
"zh-CN": "博客文章",
"zh-TW": "部落格文章"
},
"category": {
"de": "Blog slider",
"en": "Blog slider",
"es": "Blog slider",
"fr": "Blog slider",
"it": "Blog slider",
"ja": "ブログ",
"nl": "Blog slider",
"pt-BR": "Blog slider",
"zh-CN": "博客",
"zh-TW": "部落格"
},
"settings": {
"blog": "News"
}
}
]
}
{% endschema %}




