
{% comment %}<!-- <div class="page-width" data-section-id="{{ section.id }}" data-section-type="quotes">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <div class="quotes-wrapper row">
      <div class="quotes-slider" id="Quotes-{{ section.id }}" data-count="{{ section.blocks.size }}">
        
        {% for block in section.blocks %}
          <div class="quotes-slide--{{ block.id }} col-sm-12 col-md-4 col-lg-4" {{ block.shopify_attributes }}>
            <blockquote class="quotes-slider__text text-center">
              <span class="quote-icon">{% include 'icon-quote' %}</span>
              {% if block.settings.quote != blank %}
                <div class="rte-setting">{{ block.settings.quote }}</div>
              {% endif %}
              <div class="logo_div"> <img src="{{ block.settings.logo | img_url: 'small' }}" alt="Team photo" class="user_images"></div>
              {% if block.settings.author != blank %}
                <cite>{{ block.settings.author | escape }}</cite>
              {% endif %}
            </blockquote>
          </div>
        {% endfor %}
        
        
        
      </div>
    </div>
  {% endif %}

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div> -->

{% endcomment %}

<!-- <div class="testimonial-title-header">{{ section.settings.title }} </div>
<div class="container -owl-carousel-div-outer">
    <div class="row">
        <div class="col-md-12">
            <div id="testimonial-slider" class="owl-carousel">
               {% for block in section.blocks %}
                <div class="testimonial-item equal-height style-6" style="height: 300px;">
  
                    <div class="cell-right">
                        <div class="testimonial-name"><i class="fa fa-quote-left"></i> {{ block.settings.author}}
                        </div>

                    </div>
                    <div class="testimonial-content quote"> 
                        {{ block.settings.quote}}
                    </div>
                </div>
               {% endfor %}
            </div>
        </div>
    </div>
</div> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
<!--- newcode--->
<div class="testimonial-title-header">{{ section.settings.title }} </div>
<div class="owl-carousel">
  {% for block in section.blocks %}
     <div class="testimonial-item equal-height style-6" style="height: 300px;">
  
                    <div class="cell-right">
                        <div class="testimonial-name"><i class="fa fa-quote-left"></i> {{ block.settings.author}}
                        </div>

                    </div>
                    <div class="testimonial-content quote"> 
                        {{ block.settings.quote}}
                    </div>
                </div>
   {% endfor %}
  </div>
 <script>
var $owl = $('.owl-carousel');

$owl.children().each( function( index ) {
  $(this).attr( 'data-position', index ); // NB: .attr() instead of .data()
});

$owl.owlCarousel({
//   center: true,
//   loop: true,
//   items: 2,
//   autoplay:true,
//   dots: true,
 
   responsive:{
        0:{
            items:1,
           
        },
        600:{
            items:2,
            nav:false,
//           center: true
        },
      768:{
            items:2,
            nav:false,
//         center: true
        },
        1000:{
            items:3,
            nav:false,
            loop:true,
          center: true
        }
    }
});

$(document).on('click', '.owl-item>div', function() {
  $owl.trigger('to.owl.carousel', $(this).data( 'position' ) );
});
   
   
  </script>
<style>
.owl-item > div {
  cursor: pointer;
  margin: 6% 8%;
  transition: margin 0.4s ease;
}
.owl-item.center > div {
  cursor: auto;
  margin: 0;
}
.owl-item:not(.center) > div:hover {
  opacity: .75;
}
</style>






{% schema %}
  {
    "name": "Testimonials",
    "class": "index-section",
    "max_blocks": 9,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Testimonials"
      }
    ],
    "blocks": [
      {
        "type": "quote",
        "name": "Testimonial",
        "settings": [
          {
            "type": "richtext",
            "id": "quote",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          },
           {
             "type": "image_picker",
             "id": "logo",
              "label": "Logo image"
             }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "category": "Text",
        "blocks": [
          {
            "type": "quote"
          },
          {
            "type": "quote"
          },
          {
            "type": "quote"
          }
        ]
      }
    ]
  }
{% endschema %}




<style>
.owl-carousel .owl-item img {
    display: block;
    width: 17%;
    float: left;
    border: 5px solid #fff;
    border-radius: 20px;
    margin-left: 54px;
    margin-right: 35px;
    margin-top: 15px;
}
.testimonial-item.equal-height.style-6 {
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
  box-shadow: 5px 5px 10px #3333334f;
}
.cell-right {
    text-align: left;
    margin-right: 80px;
    padding-top: 35px;
    padding-bottom: 20px;
}
.testimonial-name {
    font-weight: 600;
    position: relative;
    z-index: 1;
    padding-left: 55px;
    font-size: 20px;
    text-transform: uppercase;
}
  .testimonial-name i {
    font-size: 50px;
    position: absolute;
    z-index: -1;
}
.testimonial-content.quote {
    padding: 17px 55px;
}
.et_right_sidebar #main-content .container:before{
    display: none;
}
#main-content .container {
    padding-top: 10px;
}
i.fa.fa-quote-left {
    padding: 0px 10px;
    color: #999;
}
  .testimonial-name i {
    font-size: 50px;
    position: absolute;
    z-index: -1;
    left: 15%;
    top: -15px;
    color: #fee9ea !important;
}
  #shopify-section-1556530015605 .owl-item {
    background-image: url(https://cdn.shopify.com/s/files/1/0240/9369/files/triangle-1.png?5497);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
}
  
  

</style>
<script>
    $(document).ready(function(){
    $("#testimonial-slider").owlCarousel({
        center: true,
        items:3,
        itemsDesktop:[1000,2],
        itemsDesktopSmall:[980,1],
        itemsTablet:[768,1],
        pagination:true,
        navigation:false,
        navigationText:["",""],
        loop:true,
        autoPlay:true
    });
});

</script>