<style>
  .featured-blog__date {
    {% if section.settings.blog_show_excerpt %}
      padding-bottom: 17px;
    {% endif %}
  }
</style>

<div class="featured-blog featured-blog--{{ section.id }}" data-section-id="{{ section.id }}">

  {%- assign blog = blogs[section.settings.blog] -%}

  {%  case section.settings.post_limit %}
    {% when 3 %}
      {%- assign width = 'medium-up--one-third small--one-whole' -%}
    {% when 2 %}
      {%- assign width = 'medium-up--one-half small--one-whole' -%}
    {% when 1 %}
      {% if section.settings.blog_show_image %}
        {%- assign width = 'medium-up--one-half small--one-whole' -%}
      {% else %}
        {%- assign width = 'one-whole' -%}
      {% endif %}
    {% else %}
      {%- assign width = 'medium-up--one-third small--one-whole' -%}
  {% endcase %}

  {% if section.settings.title != blank %}
    <h2 class="small--text-center">{{ section.settings.title | escape }}</h2>
  {% endif %}
  <div class="blog_top_header_title">{{ section.settings.title1 }} </div>
  {% unless blog.articles_count == 0 %}
    <div class="grid grid--uniform">
      {% for article in blog.articles limit: section.settings.post_limit %}
        <div class="grid__item {{ width }} slide-up-animation animated">
          <div class="featured-blog__post">

            {% if section.settings.blog_show_image %}
              {% unless article.image == blank %}
                <a class="article__featured-link" href="{{ article.url }}">
                  <noscript>
                    {{ article.image | img_url: '1024x1024' | img_tag: article.title | escape }}
                  </noscript>
                  <div class="article__featured-image-wrapper" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;">
                    {% assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    <img class="article__featured-image lazyload"
                      src="{{ article.image | img_url: '300x300' }}"
                      data-src="{{ img_url }}"
                      data-widths="[310, 360, 480, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                      data-aspectratio="{{ article.image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ article.title | escape }}">
                  </div>
                </a>
              {% endunless %}
            {% endif %}

            {% unless section.settings.post_limit == 1 and section.settings.blog_show_image %}
              {% include 'featured-blog', article: article %}
            {% endunless %}

          </div>
        </div>

        {% if section.settings.post_limit == 1 and section.settings.blog_show_image %}
          <div class="grid__item {{ width }} slide-up-animation animated">
            <div class="featured-blog__post">
               {% include 'featured-blog', article: article %}
            </div>
          </div>
        {% endif %}

      {% endfor %}
    </div>

  {% else %}
    {% include 'onboarding-featured-blog' %}
  {% endunless %}

  {% if blog == empty %}
    {% include 'onboarding-featured-blog' %}
  {% endif %}

  {% if section.settings.show_view_all %}
    <div class="section-header text-center">
      <a href="{{ blog.url }}" class="btn">
        {{ 'blogs.article.view_all' | t }}
      </a>
    </div>
  {% endif %}

</div>


{% schema %}
{
  "name": {
    "de": "Blogposts",
    "en": "Blog posts",
    "es": "Entradas del blog",
    "fr": "Articles de blog",
    "it": "Articoli del blog",
    "ja": "ブログ記事",
    "nl": "Blogberichten",
    "pt-BR": "Posts do blog",
    "zh-CN": "博客文章",
    "zh-TW": "部落格文章"
  },
  "settings": [
     {
      "type": "html",
      "id": "title1",
      "label":"html area" 
      },
     {
      "type": "text",
      "id": "title",
      "label": {
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fr": "Titre",
        "it": "Heading",
        "ja": "見出し",
        "nl": "Kop",
        "pt-BR": "Título",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
    
      "default": {
        "de": "Blog",
        "en": "Blog",
        "es": "Blog",
        "fr": "Blog",
        "it": "Blog",
        "ja": "ブログ",
        "nl": "Blog",
        "pt-BR": "Blog",
        "zh-CN": "博客",
        "zh-TW": "部落格"
      }
    },
    {
      "id": "blog",
      "type": "blog",
      "label": {
        "de": "Blog",
        "en": "Blog",
        "es": "Blog",
        "fr": "Blog",
        "it": "Blog",
        "ja": "ブログ",
        "nl": "Blog",
        "pt-BR": "Blog",
        "zh-CN": "博客",
        "zh-TW": "部落格"
      }
    },
    {
      "type": "range",
      "id": "post_limit",
      "label": {
        "de": "Posts",
        "en": "Posts",
        "es": "publicaciones",
        "fr": "Articles",
        "it": "Articoli",
        "ja": "投稿",
        "nl": "Berichten",
        "pt-BR": "posts",
        "zh-CN": "文章",
        "zh-TW": "貼文"
      },
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": {
        "de": "Datum anzeigen",
        "en": "Show date",
        "es": "Mostrar fecha",
        "fr": "Afficher la date",
        "it": "Mostra data",
        "ja": "日付を表示する",
        "nl": "Datum weergeven",
        "pt-BR": "Exibir data",
        "zh-CN": "显示日期",
        "zh-TW": "顯示日期"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": {
        "de": "Verfasser anzeigen",
        "en": "Show author",
        "es": "Mostrar autor",
        "fr": "Afficher l'auteur",
        "it": "Mostra autore",
        "ja": "執筆者を表示する",
        "nl": "Auteur weergeven",
        "pt-BR": "Exibir autor(a)",
        "zh-CN": "显示作者",
        "zh-TW": "顯示作者"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_show_image",
      "label": {
        "de": "Titelbild anzeigen",
        "en": "Show cover image",
        "es": "Mostrar imagen de portada",
        "fr": "Afficher l'image de couverture",
        "it": "Mostra immagine di copertina",
        "ja": "表紙画像を表示する",
        "nl": "Coverafbeelding weergeven",
        "pt-BR": "Exibir imagem da capa",
        "zh-CN": "显示封面图片",
        "zh-TW": "顯示封面圖片"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_show_excerpt",
      "label": {
        "de": "Auszug anzeigen",
        "en": "Show excerpt",
        "es": "Mostrar extracto",
        "fr": "Afficher l'extrait",
        "it": "Mostra riassunto",
        "ja": "抜粋を表示する",
        "nl": "Uittreksel weergeven",
        "pt-BR": "Exibir resumo",
        "zh-CN": "显示摘录",
        "zh-TW": "顯示摘要"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": {
        "de": "Schaltfläche \"Alle anzeigen\" anzeigen",
        "en": "Show 'View all' button",
        "es": "Mostrar el botón 'Ver todo'",
        "fr": "Afficher le bouton « Tout afficher »",
        "it": "Mostra il pulsante \"Visualizza tutto\"",
        "ja": "「すべて表示」ボタンを表示する",
        "nl": "Knop 'Alles weergeven' weergeven",
        "pt-BR": "Exibir botão 'Visualizar tudo'",
        "zh-CN": "显示“查看全部”按钮",
        "zh-TW": "顯示「檢視全部」按鈕"
      },
      "default": false
    }
  ],
  "presets": [
    {
      "name": {
        "de": "Blogposts",
        "en": "Blog posts",
        "es": "Entradas del blog",
        "fr": "Articles de blog",
        "it": "Articoli del blog",
        "ja": "ブログ記事",
        "nl": "Blogberichten",
        "pt-BR": "Posts do blog",
        "zh-CN": "博客文章",
        "zh-TW": "部落格文章"
      },
      "category": {
        "de": "Blog",
        "en": "Blog",
        "es": "Blog",
        "fr": "Blog",
        "it": "Blog",
        "ja": "ブログ",
        "nl": "Blog",
        "pt-BR": "Blog",
        "zh-CN": "博客",
        "zh-TW": "部落格"
      },
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}
