{% if section.settings.show_announcement and section.settings.home_page_only == false or template.name == 'index' %}
  <style>
    .announcement-bar--link:hover {
      {% assign brightness = settings.color_primary_color | color_brightness %}
      {% if brightness <= 224 %}
        background-color: {{ settings.color_primary_color | color_lighten: 4 }};
      {% else %}
        background-color: {{ settings.color_primary_color | color_darken: 8 }};
      {% endif %}
    }
  </style>

  {% if section.settings.announcement_link == blank %}
    <div class="announcement-bar">
  {% else %}
    <a href="{{ section.settings.announcement_link }}" class="announcement-bar announcement-bar--link">
  {% endif %}

    <div class="right-top-header">
      <div class="top-header-btn">
        <a href="/pages/store-locator" class="btn">Where to Buy<span><i class="fa fa-arrow-right"></i></span></a>	
      </div>
      <div class="top-header-flat small--hide">
        <p>Official Betancourt Nutrition Site</p>	
      </div>
      <div class="top-header-flat small--nbr">
        <p><span><i class="fa fa-phone"></i></span> 305-593-9296</p>	
      </div>
      <div class="sign-up-area small--hide">
        <span class="customer-links">
          <i class="fa fa-user" aria-hidden="true"></i>{% if customer %}
            {% if customer.first_name != blank %}
              {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
              {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
            {% else %}
              <a href="/account">{{ 'layout.customer.account' | t }}</a>
            {% endif %}
            <span class="vertical-divider"></span>
            {{ 'layout.customer.log_out' | t | customer_logout_link }}
          {% else %}
            {{ 'layout.customer.log_in' | t | customer_login_link }}
            <span class="vertical-divider"></span>
            
          {% endif %}
        </span>
      </div>
      
    </div>

  {% if section.settings.announcement_link == blank %}
    </div>
  {% else %}
    </a>
  {% endif %}
{% else %}
  <div class="page-border"></div>
{% endif %}

{% unless section.settings.logo == blank %}
  {%- assign logo_max_height = section.settings.logo_max_width | divided_by: section.settings.logo.aspect_ratio -%}
  {% if logo_max_height > 600 %}
    {%- assign logo_max_width = 600 | times: section.settings.logo.aspect_ratio -%}
  {% else %}
    {%- assign logo_max_width = section.settings.logo_max_width -%}
  {% endif %}

  <style>
    .site-header__logo {
      width: {{ logo_max_width | escape | default: '150' | remove: 'px' | append: 'px'}};
    }
    #HeaderLogoWrapper {
      max-width: {{ logo_max_width | escape | default: '150' | remove: 'px' | append: 'px'}} !important;
    }
  </style>
{% endunless %}

  <div class="top-bar grid">
    <div class="header-wrap-flow">
<div class="site-wrapper">
<!--     <div class="grid__item medium-up--one-fifth small--one-half col-md-2"> -->
      <div class="grid__item small--one-half margin-load col-sm-3 col-md-2">
     <div id="HeaderLogoWrapper" class="supports-js">
            <a href="/" itemprop="url" style="padding-top:{{ 1 | divided_by: section.settings.logo.aspect_ratio | times: 100}}%; display: block;">
              <img id="HeaderLogo"
                   class="lazyload"
                   src="{{ section.settings.logo | img_url: '150x150' }}"
                   data-src="{{ img_url }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ section.settings.logo.alt | default: shop.name }}"
                   itemprop="logo">
            </a>
          </div>
    </div>

    {% if shop.customer_accounts_enabled %}
<!--       <div class="grid__item medium-up--three-sixths small--hide col-md-8"> -->
  <div class="grid__item small--hide  margin-load col-sm-5 col-md-7">
          <!--- main menu --->
        <div class="header-menu">
<!--           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    		<span class="navbar-toggler-icon"></span>
  		</button> -->
          
              <ul class="header-main-menu">
                {% assign menu = linklists.header-main-menu %}
                {% for link in menu.links %} 
                  <li class=""><a class="" href="{{ link.url }}"> {{ link.title }}</a></li>
                {% endfor %}
             </ul>
          
        </div>
        
        <!--main menu --->
        <span class="customer-links small--hide">
          {% if customer %}
            {% if customer.first_name != blank %}
              {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
              {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
            {% else %}
              <a href="/account">{{ 'layout.customer.account' | t }}</a>
            {% endif %}
            <span class="vertical-divider"></span>
            {{ 'layout.customer.log_out' | t | customer_logout_link }}
          {% else %}
            {{ 'layout.customer.log_in' | t | customer_login_link }}
            <span class="vertical-divider"></span>
            {{ 'layout.customer.create_account' | t | customer_register_link }}
          {% endif %}
        </span>
      
      </div>
    {% endif %}


  <div class="grid__item {% if shop.customer_accounts_enabled %} margin-load col-sm-4 col-md-3{% else %} {% endif %} small--one-half text-right f-right">
      <div class="top-bar__search">
        <a href="/search" class="medium-up--hide">
          {% include 'icon-search' %}
        </a>
        <form action="/search" method="get" class="search-bar small--hide" role="search">
          {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
          <button type="submit" class="search-bar__submit">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
          <input type="search" name="q" class="search-bar__input" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
        </form>
      </div>
      
      <a href="/cart" class="site-header__cart">
        {% include 'icon-cart' %}
        
      </a>
      <div class="social-icon">
        <ul>
          <li><a href="https://www.facebook.com/BetancourtNutrition/" class="text-link"><i class="fa fa-facebook-f"></i></a></li>
          <li><a href="https://twitter.com/TeamBetancourt" class="text-link"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="text-link"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  <div class="clear"></div>
  </div>
    </div>
<!--   <hr class="small--hide hr--border"> -->
</div>

    {% if  template != "index" %}
 <div class="bread-crumb-new">{% include 'breadcrumb-nav' %}</div>
    {% endif %}

{% schema %}
{
  "name": {
    "de": "Titel",
    "en": "Header",
    "es": "Encabezado",
    "fr": "En-tête",
    "it": "Header",
    "ja": "ヘッダー",
    "nl": "Koptekst",
    "pt-BR": "Cabeçalho",
    "zh-CN": "标头",
    "zh-TW": "標頭"
  },
  "settings": [
    {
      "type": "header",
      "content": {
        "de": "Logo",
        "en": "Logo",
        "es": "Logotipo",
        "fr": "Logo",
        "it": "Logo",
        "ja": "ロゴ",
        "nl": "Logo",
        "pt-BR": "Logotipo",
        "zh-CN": "徽标",
        "zh-TW": "商標"
      }
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "de": "Logo-Foto",
        "en": "Logo image",
        "es": "Imagen del logotipo",
        "fr": "Image du logo",
        "it": "Immagine del logo",
        "ja": "ロゴ画像",
        "nl": "Afbeelding van logo",
        "pt-BR": "Imagem do logotipo",
        "zh-CN": "徽标图片",
        "zh-TW": "標誌圖片"
      }
    },
    {
      "type": "text",
      "id": "logo_max_width",
      "label": {
        "de": "Benutzerdefinierte Logobreite (Pixel)",
        "en": "Custom logo width (in pixels)",
        "es": "Ancho del logotipo personalizado (en píxeles)",
        "fr": "Largeur personnalisée du logo (en pixels)",
        "it": "Larghezza logo personalizzato (in pixel)",
        "ja": "ロゴの幅をカスタムする（ピクセルで）",
        "nl": "Aangepaste logobreedte (in pixels)",
        "pt-BR": "Largura do logotipo personalizado (em pixels)",
        "zh-CN": "自定义徽标宽度（像素）",
        "zh-TW": "自訂標誌寬度 (單位為像素)"
      },
      "default": {
        "de": "150",
        "en": "150",
        "es": "150",
        "fr": "150",
        "it": "150",
        "ja": "150",
        "nl": "150",
        "pt-BR": "150",
        "zh-CN": "150",
        "zh-TW": "150"
      }
    },
    {
      "type": "header",
      "content": {
        "de": "Ankündigungsleiste",
        "en": "Announcement bar",
        "es": "Barra de anuncios",
        "fr": "Barre d'annonces",
        "it": "Barra degli annunci",
        "ja": "告知バー",
        "nl": "Aankondigingsbalk",
        "pt-BR": "Barra de anúncio",
        "zh-CN": "公告栏",
        "zh-TW": "公告列"
      }
    },
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": {
        "de": "Ankündigung anzeigen",
        "en": "Show announcement",
        "es": "Mostrar anuncio",
        "fr": "Afficher l'annonce",
        "it": "Mostra annuncio",
        "ja": "告知を表示する",
        "nl": "Aankondiging weergeven",
        "pt-BR": "Exibir anúncio",
        "zh-CN": "显示公告",
        "zh-TW": "顯示公告"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": {
        "de": "Nur Startseite",
        "en": "Home page only",
        "es": "Solo página de inicio",
        "fr": "Page d'accueil uniquement",
        "it": "Solo home page",
        "ja": "ホームページのみ",
        "nl": "Alleen startpagina",
        "pt-BR": "Apenas página inicial",
        "zh-CN": "仅主页",
        "zh-TW": "僅限首頁"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "announcement_text",
      "label": {
        "de": "Ankündigungstext",
        "en": "Announcement text",
        "es": "Texto del anuncio",
        "fr": "Texte d'annonce",
        "it": "Testo annuncio",
        "ja": "告知テキスト",
        "nl": "Aankondigingstekst",
        "pt-BR": "Texto do anúncio",
        "zh-CN": "公告文本",
        "zh-TW": "公告文字"
      },
      "default": {
        "de": "Hier etwas ankündigen",
        "en": "Announce something here",
        "es": "Anuncia algo aquí",
        "fr": "Annoncez quelque chose ici",
        "it": "Annuncia qualcosa qui",
        "ja": "ここで告知してください",
        "nl": "Kondig hier iets aan",
        "pt-BR": "Anuncie algo aqui",
        "zh-CN": "在此处进行公告",
        "zh-TW": "在此公告資訊"
      }
    },
    {
      "type": "url",
      "id": "announcement_link",
      "label": {
        "de": "Ankündigungslink",
        "en": "Announcement link",
        "es": "Enlace de anuncio",
        "fr": "Lien d'annonce",
        "it": "Link annuncio",
        "ja": "告知リンク",
        "nl": "Aankondigingslink",
        "pt-BR": "Link de anúncio",
        "zh-CN": "公告链接",
        "zh-TW": "公告連結"
      },
      "info": {
        "de": "Optional",
        "en": "Optional",
        "es": "Opcional",
        "fr": "Facultatif",
        "it": "Facoltativo",
        "ja": "選択させる",
        "nl": "Optioneel",
        "pt-BR": "Opcional",
        "zh-CN": "可选",
        "zh-TW": "(選填)"
      }
    },
    {
      "type": "header",
      "content": {
        "de": "Tagline",
        "en": "Tagline",
        "es": "Eslogan",
        "fr": "Slogan",
        "it": "Tagline",
        "ja": "タグライン",
        "nl": "Tagline",
        "pt-BR": "Tagline",
        "zh-CN": "标语",
        "zh-TW": "標語"
      }
    },
    {
      "type": "richtext",
      "id": "tagline",
      "label": {
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "zh-CN": "文本",
        "zh-TW": "文字"
      }
    }
  ]
}
{% endschema %}
