<div class="your-goal-section">
  <div class="row">
    <div class="col-md-4">
      <h3>hello</h3>
    </div>
    <div class="col-md-4">
      <h3>hello</h3>
    </div>
    <div class="col-md-4">
      <h3>hello</h3>
    </div>
  </div>
</div>





{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
