 <div class="icons-top-div-section">{{ section.settings.text-box}}  </div>
<div class="icon-style-shadow">
  <div class="row"> 
  {% for block in section.blocks %}

    <div class="col-sm-12 col-md-4 col-lg-4">
      <a href="{{block.settings.link}}">
      <div id="icons_images_div"><img src="{{block.settings.image |img_url:"master"}}" ></div>
        <div id="icons_header_title" style="text-align: center;"><h3>{{ block.settings.linktext}}</h3></div>
        <div id="icons_header_text_area" style="text-align: center;"><p>{{ block.settings.linktext1}}</p></div>
      </a>
    </div>
  
  {% endfor %}
  </div>
</div>

{% schema %}
{
"name": "icons Blocks",  
"max_blocks": 3,        
"settings": [
{
"id": "text-box",
"type": "html",
"label": "Heading",
"default": "Title"
}
],
"blocks": [
{
"type": "select",
"name": "Add Button",
"settings": [
{
"id": "image",
"type": "image_picker",
"label": "image"
},
{
"id": "link",
"type": "url",
"label": "Button link"
},
{
"id": "linktext",
"type": "text",
"label": "icon title",
"default": "title"
},
{
"id": "linktext1",
"type": "text",
"label": "icon text",
"default": "text area"
}
]
}
],
"presets": [
{
"name": "icons Blocks",
"category": "icons Blocks",
"blocks": [
{ 
"type": "select"
},
{
"type": "select"
},
{
"type": "select"
}
]
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
