/** custom css **/



.f-right{float:right;}
.f-left{float:left;}
.clear{clear:both;}
body#betancourt-nutrition .site-wrapper {max-width: 100%;padding:0; }
body#betancourt-nutrition main#MainContent{width: 100%;}
body#betancourt-nutrition main#MainContent #shopify-section-featured-products, body#betancourt-nutrition main#MainContent #shopify-section-1556525020581 .row, #shopify-section-1556521039247 .wrapper {width: 70%;margin: 0 auto;}
#shopify-section-header .top-bar {width: 95%;margin: 0 auto;}
#shopify-section-header{background-color:#19181c;}
#shopify-section-1556525020581 h1, #shopify-section-featured-products .fe_header_title h2, #shopify-section-1556530015605 .testimonial-title-header, #shopify-section-1556570159913 h2.small--text-center, #shopify-section-1556621041825 .blog-slider-outer-div-header-title h2 {position: relative;height: 100%;width: 100%;display: inline-block; z-index: 1;font-weight: 700;text-align:center; font-size:38px;text-transform: uppercase;}
#shopify-section-1556525020581 h1::before, #shopify-section-featured-products .fe_header_title h2::before, #shopify-section-1556530015605 .testimonial-title-header::before, #shopify-section-1556621041825 .blog-slider-outer-div-header-title h2::before {font-size: 4em;position: absolute;top: 0;left: 50%;transform: translate(-50%, -50%);z-index: -1;    font-weight: 400;white-space:nowrap;}
/* #shopify-section-1556525020581 h1::before {content: "GOALS";color: #f1f5f8;font-size: 4em; font-family: 'BebasNeueBold';} */
/* #shopify-section-1556525020581 h1::before { content: ""; color: #f1f5f8; font-size: 4em; font-family: 'BebasNeueBold'; background-image: url(https://cdn.shopify.com/s/files/1/0240/9369/files/Goals.png?10439); background-size: cover; background-repeat: no-repeat; width: 100%; height: 455px !important;} */
#shopify-section-1556530015605 .testimonial-title-header::before{content: "customer reviews";color: #f1f5f8;font-family: 'BebasNeueBold'; font-size: 3em;}
#shopify-section-featured-products .fe_header_title h2::before{content:"nutrition";padding-top: 50px; color:#f1f5f8;font-family: 'BebasNeueBold'; font-size: 4em;}
#shopify-section-1556621041825 .blog-slider-outer-div-header-title h2::before{content:"articles";color:#fff;font-size:4em;}
body#betancourt-nutrition main#MainContent #shopify-section-1556525020581 .row{padding-bottom:7em;}
.hero-banner-1-section .hero-title-1-info {font-size: 54px;text-transform: uppercase;font-weight: 700;color: #211f25;line-height: 1;}
#shopify-section-featured-products {padding-bottom: 5em;}
#shopify-section-1556525020581 #icons_images_div {text-align: center; padding:4em 0 2em;display: inline-block;width: 100%;}
#shopify-section-1556525020581 #icons_header_title h3 {font-weight: 600;font-family: BebasNeueBold;font-size: 24px;}
#shopify-section-featured-products .fe_header_title{text-align:center;}
.hero-banner-1-section p.sub-hero-heading-info {color: #211f25;font-size: 18px;padding-top: 1em;}
.hero-banner-1-section p.control-info {width: 100%;background: black;padding: .1em 1em;font-size: 28px;text-transform: uppercase;font-weight:600;}
.hero-banner-1-section p.control-info span{color:#f42e2f;}

#shopify-section-1556521039247 {background-image: url(https://cdn.shopify.com/s/files/1/0240/9369/files/Join_the_team_Banner.jpg?4610);background-position: center center;background-repeat: no-repeat;background-size:contain;background-color:#18191b;}
#shopify-section-1556521039247 .feature-row .feature-row__item:nth-child(2)>.placeholder-svg {fill: none;background-color: transparent;display:none;}
#shopify-section-1556521039247 .feature-row .feature-row__item:nth-child(1)>.featured-row__subtext p:nth-child(1) {font-size: 3rem;line-height: 1;color: #fff;font-weight: 600;}
#shopify-section-1556521039247 .feature-row .feature-row__item:nth-child(1)>.featured-row__subtext p:nth-child(2) {font-size: 18px;color: #fff;}
#shopify-section-1556530015605 {padding-top: 5em;}
#shopify-section-1556530015605 .testimonial-content.quote p:nth-child(1) {max-height: 150px;overflow: hidden; display:block;}
#shopify-section-1556530015605 .testimonial-content.quote p{display:none;}
body#betancourt-nutrition footer.site-footer .grid {width: 85%;margin: 0 auto;}
body#betancourt-nutrition main#MainContent #shopify-section-featured-products{text-align:center;}
#shopify-section-featured-products .featured-products a.feature_button_url {background: #ed232a;border-radius: 30px;padding: 1em 2em;}
#shopify-section-1556521039247 .feature-row a {border: 3px solid #ed232a;border-radius: 30px;padding: 10px 30px;background: transparent;color: #ed232a;}
#shopify-section-1556521039247 h2.small--text-center {color: #fff;}
#shopify-section-featured-products .featured-products a.feature_button_url::after, #shopify-section-1556521039247 .feature-row a::after {content: "\f061";font-family: FontAwesome;padding-left: 8px;}
#shopify-section-1556621041825 {background-color: #f1f5f8;padding: 5em 0;}

#shopify-section-1556621041825 .testimonial-image1 img {width: 100% !important;height: auto !important;overflow: hidden;border-radius:0px !important;margin-top:0px; min-height:250px;border-width: 0; border-top-left-radius: 10px !important; border-top-right-radius: 10px !important;}
#shopify-section-1556621041825 .testimonial-image1 {width: 100%;height: 250px;display: inline-block;overflow: hidden;position:relative;}
#shopify-section-1556530015605 .-owl-carousel-div-outer {padding-top: 2em;}
#shopify-section-1556621041825 .text-v-divider {border-right: 2px solid #a8a8a9;padding-right: 8px;color: #a8a8a9;}
#shopify-section-1556621041825 .txt--minor{color:#a8a8a9;}
#testimonial-slider1 .owl-item .cell-right1 {min-height: 150px;}
#shopify-section-1556520594369 button.slider__controls-button {display: none;}
#shopify-section-header .header-wrap-flow .social-icon ul {padding-left: 0px;}





.slick-slider {
  margin-bottom: 4em;
}

.btn-red {
    background-color: #ec2329 !important;
    border-color: #ec2329 !important;
    border-radius: 32px !important;
    color: #fff !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
}

#insta-feed {
    margin-top: 6em;
}

.template-product .main-content {
    margin-top: 3em !important;
}

h1, h2, h3 {
font-weight: bold;
color: #333;
}

.collection-change .product__title {
  padding: 0px 10px 10px 10px;
}

.collection-change .product__title a {
    font-family: 'Montserrat-Medium', sans-serif;
    font-weight: 500;
    font-size: 17px;
}

.collection-change .product__prices {
  padding: 0px 10px 15px 10px;
}

.sold-out-text {
    color: #d72026;
    background: #fde4e7;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
}



input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

.cta_text {
font-family: 'Open Sans Condensed', sans-serif;
color: #999;
font-size: 16px;
  display: block;
}

#description h1,
#description h2,
#description h3 {
  color: #333;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}

#description p,
#description li,
#description p span[style],
#description li span[style] {
  color: #555 !important;
}

.slick-slide {
min-width: 140px;
  
}

.flex-control-paging a.flex-active{
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}


/*** 03-05-19 ***/
.right-top-header .top-header-btn a {
    background: #ee1c25 !important;
    opacity: 1 !important;
}
#shopify-section-1556569680050 {
    box-shadow: 0 3px 8px rgba(113,112,112,0.06), 0 5px 43px rgba(204,204,204,0.64);
}
.icon-style-shadow {
    margin: 0px 0px 66px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.09), 0 3px 10px rgba(0, 0, 0, 0.15);
    width: 100%;
    float: left;
    /***position: relative;***/
}
div#shopify-section-1556525020581>.icons-top-div-section {
    display: none;
}
.icon-style-shadow>.row {
    padding: 0 0 34px !important;
}

.-owl-carousel-div-outer .owl-theme .owl-controls .owl-page span {
    background: #000000;
  opacity:1;
}
.-owl-carousel-div-outer .owl-theme .owl-controls .active span {
    background-color: #f00;
  opacity:1;
}
.blog-slider-section .owl-pagination .owl-page span {
    background: #000 !important;
    opacity: 1 !important;
}
.blog-slider-section .owl-pagination .active span {
    background: #f00 !important;
}
#shopify-section-featured-products .product.grid__item:hover {
    background-image: url(https://cdn.shopify.com/s/files/1/0240/9369/files/red-background-clip1_77f396f3-5d07-4bfb-97fc-cbc5019b1010-new.png?10810);
    background-repeat: no-repeat;
    background-position: right top;
    object-fit: fill;
    padding: .8em;
}
.collection-change:hover {
    box-shadow: 0 3px 8px rgba(113,112,112,0.06), 0 0px 55px rgba(204, 204, 204, 0.64);
    border-radius: 5px;
}
div#shopify-section-featured-products .featured-products .product {
   padding:.8em;
}

div#shopify-section-1556530015605 .owl-carousel .center .testimonial-item {
    background: #282829;
    color: #fff;
}
div#shopify-section-1556530015605 .owl-carousel .center i {
    opacity: .5;
}
#shopify-section-1556530015605 .owl-carousel {
    padding: 2em 0em;
}
#shopify-section-1556530015605 .owl-dots {
    text-align: center;
}
#shopify-section-1556530015605 .owl-dot {
    width: 12px;
    height: 12px;
    background: #000;
    display: block;
    margin: 0px 4px;
    display: inline-block;
  border-radius:50%;
}
#shopify-section-1556530015605 .owl-dots .active {
    background: #f00;
}
div#shopify-section-1556530015605 .owl-carousel .center .testimonial-item .testimonial-content {
    opacity: .5;
}
div#shopify-section-1556530015605 .owl-carousel .center .testimonial-item .testimonial-name {
    color: #f00;
}





/* */
#shopify-section-1556530015605 .testimonial-content.quote p {
    max-height: 294px !important;
    overflow: hidden;
    display: block;
}
div#shopify-section-1556530015605 .testimonial-item.equal-height {
   min-height:415px !important; 
}
.testimonial-content.quote {
    padding: 17px !important;
}
.where-to-buy .btn {
    opacity: 1;
    padding: 10px 20px !important;
}
.cart-div-section .where-to-buy {
    margin: 15px 0px;
    clear: both;
}
.where-to-buy .btn {
    opacity: 1;
    padding: 10px 20px !important;
    background: #ee1c25;
}

#shopify-section-featured-products .featured-products .product-list .product.grid__item.medium-up--one-third .collection-change a.product__image-wrapper img{width:85%;left: 50%;top: 50%;transform: translate(-50%, -50%);}
#shopify-section-featured-products .featured-products .product-list .product.grid__item.medium-up--one-third:nth-child(2)>.collection-change a.product__image-wrapper img, #shopify-section-featured-products .featured-products .product-list .product.grid__item.medium-up--one-third:nth-child(5)>.collection-change a.product__image-wrapper img, #shopify-section-featured-products .featured-products .product-list .product.grid__item.medium-up--one-third:nth-child(8)>.collection-change a.product__image-wrapper img,#shopify-section-featured-products .featured-products .product-list .product.grid__item.medium-up--one-third:nth-child(11)>.collection-change a.product__image-wrapper img {transform: scale(1.2); width:97%;left:0%; top:0%; }
#shopify-section-featured-products .featured-products .product-list .product.grid__item.medium-up--one-third:nth-child(2)>.collection-change a.product__image-wrapper img {
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.blog-slider-section .testimonial-item1 .testimonial-job a {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 19px;
    font-weight: 500;
}
.blog-slider-section .testimonial-name1 {
    font-weight: 500 !important;
    font-family: 'BebasNeue_Regular';
    font-size: 18px;
    color: #a8a8a9;
    letter-spacing: 1px;
}
.social-icon li a i {
    font-size: 16px;
}
.icon-style-shadow #icons_header_text_area {
    margin-bottom: 30px;
}
div#shopify-section-1557326290767 {
    margin: 0px;
}
div#shopify-section-1556520594369 {
  margin:0px !important; 
}
/** Media Queries **/
@media screen and (min-width:1024px){
  #shopify-section-1556521039247{padding:5em 0px;}
}
@media screen and (max-width:850px) and (orientation:landscape){
  #shopify-section-1556525020581 h1::before, #shopify-section-featured-products .fe_header_title h2::before, #shopify-section-1556621041825 .blog-slider-outer-div-header-title h2::before{font-size:3em}
   #shopify-section-1556530015605 .testimonial-title-header::before{font-size:50px;}
  
}


@media screen and (max-width:768px){
  #sidebaron-mobile{
   display: block !important;
    
  }
  #collection-sidebar{
     display: none;
  }
    .header-menu ul li a {
    padding: 0px 5px;
    font-weight: 600;
    font-size: 9px;
}
  .header-menu ul li {
    display: inline-block;
    margin-right: -1px;
}
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape){
.header-menu ul li {
    display: inline-block;
    margin-right: -2px;
}
}


@media screen and (max-width:767px){
  #HeaderLogoWrapper {
    margin: -9px;
}
  
  .slides__image {
    object-fit: initial;
  }
  
}

@media only screen and (max-width: 749px) {
    #shopify-section-featured-products .collection-change {
padding: 0;
}

}

@media screen and (max-width:450px) and (orientation:portrait){
  #shopify-section-1556525020581 h1::before, #shopify-section-featured-products .fe_header_title h2::before, #shopify-section-1556621041825 .blog-slider-outer-div-header-title h2::before{font-size:2em}
   #shopify-section-1556530015605 .testimonial-title-header::before{font-size:28px;}
}

