<!-- /templates/blog.liquid -->
{% paginate blog.articles by 8 %}

<div class="blog-container">

  {% if current_tags %}
    <h1> {{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}</h1>
  {% else %}
  <div class="outer_blog_title_div">
    <h1 style="text-align:center" class="blog_upper_title_">LATEST {{ blog.title | upcase  }}</h1>
  <p class="blog_upper_title_text" style="text-align:center;"></p>
  </div>
  {% endif %}

 <div class="row">
   {% for article in blog.articles %}
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="article">
      {% if article.image %}
        {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        {%- capture wrapper_id -%}ArticleImageWrapper--{{ article.image.id }}{%- endcapture -%}
        {%- capture img_id -%}ArticleImage--{{ article.image.id }}{%- endcapture -%}
        {% include 'image-style' with image: article.image, width: 970, height: 1024, small_style: false, wrapper_id: wrapper_id, img_id: img_id %}
        <div id="{{ wrapper_id }}" class="supports-js">
          <a class="article__image-wrapper" href="{{ article.url }}" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;">
            <img id="{{ img_id }}"
                 class="article__image lazyload"
                 src="{{ article.image | img_url: '300x300' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ article.image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ article.title | escape }}"
                 itemprop="image">
          </a>
        </div>
       {% if article.tags != blank %}
      <div class="blog_type_div_outer"><button class="blog_type_div">{{ article.tags }} </button></div>
      {% endif %}
      <div class="blog_lower_outer_div">
       {% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
      {% capture date %}<time datetime="{{ article.published_at | date: '%a,%Y-%m-%d' }}">{{ article.published_at | date: "%a, %b %d, %Y" }}</time>{% endcapture %}
      <p class="txt--minor">{{ 'blogs.article.author_on_date_html' | t: author: author, date: date }}</p>
     
      <h2 class="h3"><a href="{{ article.url }}">{{ article.title }}</a></h2>
     </div>
 

        <noscript>
          <a class="article__image" href="{{ article.url }}">
            {{ article | img_url: '1024x1024' | img_tag: article.title }}
          </a>
        </noscript>
      {% endif %}
  {% comment %}
      <div class="rte">
        {% if article.excerpt.size > 0 %}
          {{ article.excerpt }}
        {% else %}
          <p>{{ article.content | strip_html | truncatewords: 100 }}</p>
        {% endif %}
      </div>

      {% if blog.comments_enabled? or article.tags.size > 0 %}
        <ul class="list--inline txt--minor">
          {% if blog.comments_enabled? and article.comments_count > 0 %}
            <li>
              <a href="{{ article.url }}#comments">
                {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
              </a>
            </li>
          {% endif %}
        </ul>
      {% endif %}

      <p class="read-more"><a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }} &rarr;</a></p>
{% endcomment %}
    </div>
     
  </div>
   {% unless forloop.last %}
      <hr>
    {% endunless %}

  {% endfor %}
</div>

  
  

   

  {% if paginate.pages > 1 %}
    <div class="pagination text-center">
      {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
    </div>
  {% endif %}

</div>

{% endpaginate %}

<style>
 
  .article {
    background: #fff;
    box-shadow: 0 3px 8px rgba(113,112,112,0.06), 0 0px 55px rgba(204,204,204,0.64);
    border-radius: 5px;
}
   .article .h3{ 
      font-size: 1.9em;
   }
  .blog_type_div {
    border: none;
    background: red;
    color: white;
    padding: 5px;
}
  .blog_lower_outer_div {
    padding-left: 10px;
}
.article .txt--minor {
    text-transform: uppercase;
    font-weight: 800;
}
  .article h2.h3 {
    padding-bottom: 25px;
}
</style>
